/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.logo {
  padding-top: 33px;
  padding-bottom: 36px;
  font-size: 0;
}
.logo__poligon {
  background-color: #18CFAB;
  padding: 18px 13px;
  margin-right: 6px;
  font-size: 40px;
  line-height: 0.8;
  -webkit-clip-path: polygon(50% 10%, 100% 31%, 100% 70%, 50.71% 88.36%, 0px 70%, 0px 31%);
  clip-path: polygon(50% 10%, 100% 31%, 100% 70%, 50.71% 88.36%, 0px 70%, 0px 31%);
}
.logo__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
}
.logo__text--right {
  font-weight: 700;
  color: #18CFAB;
}

.header-hero__explore,
.header-hero__purchase,
.purchase__btn {
  -webkit-box-shadow: 0px -5px 0px 0px #FFFFFF;
          box-shadow: 0px -5px 0px 0px #FFFFFF;
  -webkit-transition: -webkit-transform 0.1s ease-in, -webkit-box-shadow 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in, -webkit-box-shadow 0.1s ease-in;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in, -webkit-transform 0.1s ease-in, -webkit-box-shadow 0.1s ease-in;
}
.header-hero__explore:hover,
.header-hero__purchase:hover,
.purchase__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 0px #FFFFFF;
          box-shadow: 0px 0px 0px 0px #FFFFFF;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

h2 + svg {
  fill: #18CFAB;
}

@-webkit-keyframes append-animate {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes append-animate {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes append-animate-slider {
  from {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(100%);
            transform: translateY(0) scale(100%);
    opacity: 1;
  }
}
@keyframes append-animate-slider {
  from {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(100%);
            transform: translateY(0) scale(100%);
    opacity: 1;
  }
}
@-webkit-keyframes append-animate-tabs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes append-animate-tabs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.icon {
  display: inline-block;
  stroke-width: 0;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 242, 242, 0.181)), to(rgba(190, 186, 186, 0.247))), url(../src/images/background/section-1.jpg);
  background-image: linear-gradient(rgba(245, 242, 242, 0.181), rgba(190, 186, 186, 0.247)), url(../src/images/background/section-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
  background-attachment: fixed;
}

.header-navbar {
  background-color: rgba(94, 93, 88, 0.6);
}
.header-navbar__link {
  color: hsla(0deg, 0%, 100%, 0.6);
  padding: 10px 5px 48px;
  -webkit-transition: color 0.1s ease-in, border-color 0.2s ease-in;
  transition: color 0.1s ease-in, border-color 0.2s ease-in;
  border-bottom: 2px solid transparent;
}
.header-navbar__link:hover {
  color: #18CFAB;
  border-bottom: 2px solid #18CFAB;
}
.header-navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-navbar__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: auto;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}
.header-navbar__search {
  padding-left: 21px;
  margin-top: 7px;
}
.header-navbar__search svg {
  fill: hsla(0deg, 0%, 100%, 0.6);
}

.header-hero {
  max-width: 798px;
  margin: 0 auto;
  padding-top: 251px;
  padding-bottom: 243px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}
.header-hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  margin-bottom: 129px;
}
.header-hero__pre-heading {
  font-size: 35px;
  text-transform: uppercase;
}
.header-hero__pre-heading--right {
  color: #18CFAB;
}
.header-hero__slogan {
  font-size: 78px;
  text-transform: uppercase;
}
.header-hero__description {
  font-weight: 400;
  font-size: 34px;
  color: #D4D4D4;
}
.header-hero__explore {
  background-color: #18CFAB;
  font-size: 15px;
  line-height: 2.1;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 16px 17px;
  margin-right: 26px;
}
.header-hero__purchase {
  background-color: #00CBF6;
  font-size: 15px;
  line-height: 2.1;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 16px 11px;
}

.option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 0;
  padding: 0;
  text-align: center;
}
.option-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 87px;
  padding-bottom: 103px;
  text-transform: uppercase;
}
.option-list__item--dark {
  background-color: #1C2A33;
  color: #18CFAB;
  fill: #18CFAB;
}
.option-list__item--ligth {
  background-color: #18CFAB;
  fill: #FFFFFF;
}
.services {
  padding-top: 90px;
  padding-bottom: 90px;
}
.services__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  color: #4E4E4E;
  padding-bottom: 12px;
}

.services-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 67px 0 0 0;
  color: #717171;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.5606rem + 0.6061vw, 1rem);
  line-height: 2.4;
  margin: 0;
}
.services-tabs__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  cursor: pointer;
}
.services-tabs__item:hover {
  outline: 1px solid #18CFAB;
}
.services-tabs__item::after {
  position: absolute;
  bottom: -11.7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 23.5px;
  height: 11.7px;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
          clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.services-tabs__item--active {
  position: relative;
  background-color: #18CFAB;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.services-tabs__item--active::after {
  position: absolute;
  bottom: -11.7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 23.5px;
  height: 11.7px;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
          clip-path: polygon(100% 0, 0 0, 50% 100%);
  background-color: #18CFAB;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27px;
  gap: 13px;
  color: #777777;
  font-weight: 300;
  line-height: 1.75;
  -webkit-animation: append-animate-tabs 0.3s ease-in;
          animation: append-animate-tabs 0.3s ease-in;
}
.services-card__img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 194px;
}
.services-card__descripton {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-align: left;
  font-size: clamp(0.5rem, 0.0245rem + 1.087vw, 0.8125rem);
}
.services-card--hidden {
  display: none;
}

.purchase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.871)), to(rgba(0, 0, 0, 0.723))), url(../src/images/background/section-2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.723)), url(../src/images/background/section-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 126px 0;
  text-align: center;
}
.purchase__heading {
  color: #18CFAB;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 12px;
}
.purchase__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #D8D8D8;
  padding-bottom: 62px;
}
.purchase__btn {
  background-color: #00CBF6;
  font-size: 15px;
  line-height: 2.1;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 16px 11px;
}

.work__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  color: #4E4E4E;
  padding-bottom: 12px;
  padding-top: 95px;
}

.work-tabs {
  max-width: 589px;
  margin: 65px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
  line-height: 3;
  padding: 0;
}
.work-tabs:hover {
  cursor: pointer;
}
.work-tabs__item {
  display: inline-block;
  padding: 14px 15px;
  border: 1px solid #dadada;
}
.work-tabs__item:first-child {
  padding: 14px 29px;
}
.work-tabs__item + .work-tabs__item {
  border-left: 1px solid transparent;
}
.work-tabs__item + .work-tabs__item--active {
  border: 2px solid #18CFAB;
}
.work-tabs__item--active {
  color: #18CFAB;
  border: 2px solid #18CFAB;
  -webkit-transition: color 0.1s ease-out, border 0.1s ease-out;
  transition: color 0.1s ease-out, border 0.1s ease-out;
}

.work-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.work-gallery__item {
  -webkit-animation: append-animate 0.3s linear;
          animation: append-animate 0.3s linear;
}
.work-gallery__item img {
  width: 100%;
  height: 100%;
}
.work-gallery__load-more {
  background-color: #18CFAB;
  font-size: 15px;
  line-height: 2.1;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 3;
  padding: 11px 19px 11px 23px;
  margin-top: 70px;
  margin-bottom: 99px;
  cursor: pointer;
}
.work-gallery__load-more svg {
  margin-right: 15px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
.work-gallery--no-load {
  display: none;
}

.news {
  margin-top: 84px;
  margin-bottom: 130px;
}
.news__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  color: #4E4E4E;
  padding-bottom: 12px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 44px;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  padding-top: 68px;
}
.news-list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
}
.news-list__link:hover .news-list__date {
  background-color: #18CFAB;
}
.news-list__link:hover .news-list__title {
  color: #18CFAB;
}
.news-list__title {
  font-size: 18px;
  line-height: 2.1;
  color: #717171;
  padding-top: 14px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.news-list__comments {
  font-weight: 300;
  font-size: 14px;
  line-height: 2.8;
  color: #777777;
}
.news-list__author {
  border-right: 1px solid #777777;
  padding-right: 15px;
}
.news-list__number {
  padding-left: 15px;
}
.news-list__img-wrapper {
  position: relative;
}
.news-list__img-wrapper img {
  width: 100%;
}
.news-list__date {
  position: absolute;
  right: 0;
  top: 0;
  width: 66px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #203E38;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.feedback {
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.871)), to(rgba(0, 0, 0, 0.723))), url(../src/images/background/section-3.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.723)), url(../src/images/background/section-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.feedback__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  color: #4E4E4E;
  padding-bottom: 12px;
  color: #FFFFFF;
}

.feedback-slider {
  color: #BBBBBB;
  padding-top: 66px;
}
.feedback-slider__svg {
  fill: #18CFAB;
  margin-bottom: 37px;
}
.feedback-slider__card--active {
  -webkit-animation: append-animate-slider 0.4s linear;
          animation: append-animate-slider 0.4s linear;
}
.feedback-slider__quote {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.9;
  padding-bottom: 27px;
}
.feedback-slider__author {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  color: #18CFAB;
  text-transform: uppercase;
  padding-top: 37px;
}
.feedback-slider__authors-job {
  font-weight: 300;
  font-size: 13px;
  line-height: 2;
}
.feedback-slider__img-wrapper {
  width: 171px;
  height: 166px;
  margin: 0 auto;
}
.feedback-slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 10px rgba(24, 207, 170, 0.2);
          box-shadow: 0 0 0 10px rgba(24, 207, 170, 0.2);
}

.feedback-slider__list {
  padding-top: 39px;
}

.feedback-menu {
  padding-top: 51px;
}
.feedback-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 0;
}
.feedback-menu__item {
  width: 79px;
  height: 71px;
  padding: 6px 10px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.feedback-menu__item:hover {
  cursor: pointer;
}
.feedback-menu__item--active {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}
.feedback-menu__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 5px rgba(24, 207, 170, 0.2);
          box-shadow: 0 0 0 5px rgba(24, 207, 170, 0.2);
  pointer-events: none;
}
.feedback-menu__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31px;
  height: 31px;
  border: 1px solid #BBBBBB;
}
.feedback-menu__arrow:hover {
  background-color: #18CFAB;
  border: 1px solid #18CFAB;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  cursor: pointer;
}
.feedback-menu__arrow:hover svg {
  fill: #FFFFFF;
}
.feedback-menu__arrow svg {
  fill: #BBBBBB;
  pointer-events: none;
}
.feedback-menu__arrow--left {
  margin-right: 10px;
}
.feedback-menu__arrow--rigth {
  margin-left: 10px;
}

.footer {
  background-color: #22353F;
  margin-top: 95px;
}
.footer__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.9;
  color: #AEAEAE;
  text-align: center;
  padding: 46px 0;
}
.footer__logo {
  color: #18CFAB;
}