body {  
  font-family: 'Montserrat', sans-serif;
  color: $white;
  font-weight: 700;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.icon {
  display: inline-block;  
  stroke-width: 0;  
}

