$mainColor: #18CFAB;
$mainColor-transparent: rgba(24, 207, 170, 0.2);

$white: #FFFFFF;
$white-transparent: hsla(0, 0%, 100%, 0.6);
$grey:#4E4E4E;
$grey-hero:#D4D4D4;
$light-grey:#777777;
$grey-tabs:#717171;
$grey-footer:#AEAEAE;
$grey-quote:#BBBBBB;
$grey-purchase: #D8D8D8;

$background-dark-grey:#22353F;
$background-light:#E9EDEF;
$background-transparent: rgba(94, 93, 88, 0.6);
$background-blue:#00CBF6;
$background-dark-green:#1C2A33;
$background-dark-footer:#22353F;