@keyframes append-animate {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes append-animate-slider {
    from {
      transform: translateY(-100%) scale(0);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(100%);
      opacity: 1;
    }
  }

  @keyframes append-animate-tabs {
    from {
      
      opacity: 0;
    }
    to {
      
      opacity: 1;
    }
  }