@mixin btn($background, $value) {
  #{$background}: $value;
  font-size: 15px;
  line-height: 2.1;
  color: $white;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
}

.header-hero__explore,
.header-hero__purchase,
.purchase__btn {
  box-shadow: 0px -5px 0px 0px $white;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;

  &:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px $white;
    transform: translateY(-5px);
  }
  
}
