.logo {
  padding-top: 33px;
  padding-bottom: 36px;
  font-size: 0;

  &__poligon {
    background-color: $mainColor;
    padding: 18px 13px;
    margin-right: 6px;
    font-size: 40px;
    line-height: 0.8;
    -webkit-clip-path: polygon(
      50% 10%,
      100% 31%,
      100% 70%,
      50.71% 88.36%,
      0px 70%,
      0px 31%
    );
    clip-path: polygon(
      50% 10%,
      100% 31%,
      100% 70%,
      50.71% 88.36%,
      0px 70%,
      0px 31%
    );
  }
  &__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
  }

  &__text--right {
    font-weight: 700;
    color: $mainColor;
  }
}
