
.feedback{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.723)),
    url(../src/images/background/section-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  

    &__heading{
        @include heading-section;
        color: $white;        
    }
}

.feedback-slider{
    color: $grey-quote;
    padding-top: 66px;  

    &__svg{
        fill:$mainColor;
        margin-bottom: 37px;
    }
    
    &__card--active{
        animation: append-animate-slider 0.4s linear;
    }    

    &__quote{
        font-weight: 300;
        font-size: 16px;
        line-height: 1.9;
        padding-bottom: 27px;
    }

    &__author{
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.7;
        color: $mainColor;
        text-transform: uppercase;
        padding-top: 37px;
    }

    &__authors-job{
        font-weight: 300;
        font-size: 13px;
        line-height: 2;
    }

    &__img-wrapper{        
        width: 171px;
        height: 166px;
        margin: 0 auto;
        
    }    
    

    &__img{
        object-fit: cover;
        border-radius: 50%;
        width:100%; 
        height:100%;
        box-shadow: 0 0 0 10px $mainColor-transparent;
    }
    
}

.feedback-slider__list{
    padding-top: 39px;
}

.feedback-menu{
    padding-top: 51px;

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 0;
    }
    

    &__item{
        width: 79px;
        height: 71px;
        padding: 6px 10px;
        transition: transform 0.1s ease-in-out;

        &:hover{
            cursor: pointer;
        }
        
    }

    &__item--active{
        transform: translateY(-20%);
    }

    &__img{
        object-fit: cover;
        border-radius: 50%;
        width:100%; 
        height:100%;
        box-shadow: 0 0 0 5px $mainColor-transparent;
        pointer-events: none;
    }

    &__arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 31px;
        border: 1px solid $grey-quote;
        

        &:hover{
            background-color: $mainColor;
            border: 1px solid $mainColor;
            transition: background .2s ease-in;
            cursor: pointer;
        }

        &:hover svg{
            fill: $white;
        }

        svg {
            fill: $grey-quote;
            pointer-events: none;
        }
    }

    &__arrow--left{
        margin-right: 10px;
    }

    &__arrow--rigth{
        margin-left: 10px;
    }
}