.footer{
    background-color: $background-dark-footer;
    margin-top: 95px;

    &__text{
        font-weight: 300;
        font-size: 14px;
        line-height: 1.9;
        color:$grey-footer;
        text-align: center;
        padding: 46px 0;
    }

    &__logo{
        color: $mainColor;
    }
}