.header {
  background-image: linear-gradient(
      rgba(245, 242, 242, 0.181),
      rgba(190, 186, 186, 0.247)
    ),
    url(../src/images/background/section-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
  background-attachment: fixed;
}

.header-navbar {
  background-color: $background-transparent;
  

  &__link {
    color:$white-transparent;
    padding: 10px 5px 48px;
    transition: color 0.1s ease-in, border-color 0.2s ease-in;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $mainColor;
      border-bottom: 2px solid $mainColor;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    display: flex;
    gap: 10px;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__search {
    padding-left: 21px;
    margin-top: 7px;

    svg{
      fill:$white-transparent;
    }
  }
}

.header-hero {
  max-width: 798px;
  margin: 0 auto;
  padding-top: 251px;
  padding-bottom: 243px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-bottom: 129px;
  }

  &__pre-heading {
    font-size: 35px;
    text-transform: uppercase;

    &--right {
      color: $mainColor;
    }
  }

  &__slogan {
    font-size: 78px;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    font-size: 34px;
    color: $grey-hero;
  }

  &__explore {
    @include btn(background-color, $mainColor);
    padding: 16px 17px;
    margin-right: 26px;
  }

  &__purchase {
    @include btn(background-color, $background-blue);
    padding: 16px 11px;
  }
}
