.news{
    margin-top: 84px;
    margin-bottom: 130px;
    &__heading{
        @include heading-section;
    }
}

.news-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 33px;
    padding-top: 68px;

    &__item{
        flex: 1 0 21%;
    }

    &__link:hover &__date{
        background-color: $mainColor;
    }
    &__link:hover &__title{
        color: $mainColor;
    }

    &__title{
        font-size: 18px;
        line-height: 2.1;
        color: $grey-tabs;
        padding-top: 14px;
        transition: color 0.2s ease-in;
    }

    &__comments{
        font-weight: 300;
        font-size: 14px;
        line-height: 2.8;
        color: $light-grey;
    }

    &__author{
        border-right: 1px solid $light-grey;
        padding-right: 15px;
    }

    &__number{
        padding-left: 15px;
    }

    &__img-wrapper{
        position: relative;

        img{
            width: 100%;
        }
    }

    &__date{
        position: absolute;
        right: 0;
        top:0;
        width: 66px;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: $white;
        background-color: #203E38;
        transition: background-color 0.2s ease-in;
    }
}