.option-list{
    display: flex;
    margin: 8px 0 0 0;
    padding: 0;
    text-align: center;

    &__item{        
        display: flex;
        flex: 1;
        gap:48px;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        padding-top: 87px;
        padding-bottom: 103px;
        text-transform: uppercase;
    }
    &__item--dark{
        background-color: $background-dark-green;
        color:$mainColor;
        fill: $mainColor; 
    }
    &__item--ligth{
        background-color: $mainColor;
        fill:$white;      

    }

    &__description{

    }
}