.purchase {
  background: linear-gradient(rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.723)),
    url(../src/images/background/section-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  padding: 126px 0;
  text-align: center;

  &__heading{
    color: $mainColor;
    font-size: 40px;
    line-height: 1;
    padding-bottom: 12px;
  }

  &__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: $grey-purchase;
    padding-bottom: 62px;
  }

  &__btn{
    @include btn(background-color, $background-blue);
    padding: 16px 11px; 
  }
}
