.services {
  padding-top: 90px;
  padding-bottom: 90px;

  &__heading {
    @include heading-section;
  }
}

.services-tabs {
  display: flex;

  padding: 67px 0 0 0;
  color: $grey-tabs;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.5606rem + 0.6061vw, 1rem);
  line-height: 2.4;
  margin: 0;

  &__item {
    position: relative;
    flex-grow: 1;
    padding: 15px;
    cursor: pointer;

    &:hover {
      outline: 1px solid $mainColor;
    }

    &::after {
      position: absolute;
      bottom: -11.7px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 23.5px;
      height: 11.7px;
      clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
  }

  &__item--active {
    position: relative;
    background-color: $mainColor;
    color: $white;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &::after {
      position: absolute;
      bottom: -11.7px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 23.5px;
      height: 11.7px;
      clip-path: polygon(100% 0, 0 0, 50% 100%);
      background-color: $mainColor;
      transition: background-color 0.2s ease-out;
    }
  }
}

.services-card {
  display: flex;
  padding-top: 27px;
  gap: 13px;
  color: $light-grey;
  font-weight: 300;
  line-height: 1.75;
  animation: append-animate-tabs 0.3s ease-in;

  &__img-wrapper {
    flex: 1;
    min-width: 194px;
  }

  &__descripton {
    flex: 4;
    text-align: left;
    font-size: clamp(0.5rem, 0.0245rem + 1.087vw, 0.8125rem);
  }

  &--hidden {
    display: none;
  }
}
