

.work__heading {
  @include heading-section;
  padding-top: 95px;
}

.work-tabs {
  max-width: 589px;
  margin: 65px auto;
  display: flex;
  gap: 0;
  color: $grey-tabs;
  font-weight: 400;
  font-size: 14px;
  line-height: 3;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &__item {
    display: inline-block;
    padding: 14px 15px;
    border: 1px solid #dadada;

    &:first-child {
      padding: 14px 29px;
    }
  }

  &__item + &__item {
    border-left: 1px solid transparent;
  }

  &__item + &__item--active {
    border: 2px solid $mainColor;
  }

  &__item--active {
    color: $mainColor;
    border: 2px solid $mainColor;
    transition: color 0.1s ease-out, border 0.1s ease-out;
  }
}

.work-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  

  &__item {    
    animation: append-animate 0.3s linear;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__load-more {
    @include btn(background-color, $mainColor);
    font-size: 14px;
    line-height: 3;
    padding: 11px 19px 11px 23px;
    margin-top: 70px;
    margin-bottom: 99px;
    cursor: pointer;

    svg {
      margin-right: 15px;
      transform: translateY(20%);
    }
  }

  &--no-load {
    display: none;
  }
}
